@keyframes introduction-logo {
	from {
		width: 0%;
		height: 0%;}
    to {
    	width: 20%;
    	height: 1;
    }
}

.centre {
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
}

.introduction-logo { 
	animation-name: introduction-logo;
	animation-duration: 4s;
	animation-fill-mode: forwards;
}