{% extends "index.html" %}
{% block content %}
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item text-center">
                            <h2>Actions et objectifs</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

	<!-- Start Sample Area -->
	<section class="sample-text-area">
		<div class="container box_1170">
			<div class="whole-wrap">
				<div class="container box_1170">
					<div class="section-top-border">
						<div class="row">
							<div class="col-lg-12">
								<blockquote class="generic-blockquote">
									<p>Les comités se sont donnés pout tâche d'appeler sur les enfants malheureux, par les voies les plus rapides, l'attention des autorités qui ont le pouvoir de mettre fin à leur détresse (art. 1 des statuts).</p>
								</blockquote>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<blockquote class="generic-blockquote">
									<p>En ne dévoilant pas la source de leur information, les Comités offrent un relais à tous ceux qui ne peuvent ou ne souhaitent pas prendre en charge eux-mêmes un signalement d'enfant en danger. Sauf urgence évidente, ils vérifient toujours le bien-fondé des faits signalés avant de les transmettre aux autorités compétentes.</p>
								</blockquote>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<blockquote class="generic-blockquote">
									<p>Les Comités ne se substituent jamais aux autorités en place: la protection des enfants et des jeunes est de la responsabilité du Conseil Général et de la justice.</p>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Sample Area -->
{% endblock %}