{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">-->
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">

    <title>Fédération des Comités Alexis Danan</title>
  </head>
  <body>
    <div class="container">
      <div id="main-logo"><img src="{% static "images/logo#1.gif" %}"></div>
      <div id="secondary-logo" ><img src="{% static "images/logo#2.png" %}"></div>
      <div id="navbar">Navbar</div>
      <div id="gif"><img src="{% static "images/animationRafaelHouee.gif" %}"></div>
      <div>Sidebar #1</div>
      <div>Content</div>
      <div>Sidebar #2</div>
      <div id="footer">Footer</div>     
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--
    <script src="{% static "js/jquery-3.4.1.slim.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    -->
  </body>
</html>