{% extends "index.html" %}
{% block content %}

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item text-center">
                            <h2>Liens utile</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

	<!-- Start Sample Area -->
	<section class="sample-text-area">
		<div class="container box_1170">
			<div class="col-md-4 mt-sm-30">
				<h3 class="mb-20">Signalement</h3>
				<div class="">
					<ul class="unordered-list">
						<li><a href="{% url 'accueil' %}" style="color: inherit;text-decoration: none;">Voir la page Procédure de Signalement National</a></li>
					</ul>
				</div>

				<h3 class="mb-20">Historique</h3>
				<div class="">
					<ul class="unordered-list">
						<li><a target="_blank" href="http://www.justice.gouv.fr/recherche.html?recherche_motscles=histoire+de+la+protection+judiciaire+de+la+jeunesse" style="color: inherit;text-decoration: none;">Histoire de la protection judiciaire de la jeunesse</a></li>
					</ul>
				</div>

				<h3 class="mb-20">Justice</h3>
				<div class="">
					<ul class="unordered-list">
						<li><a target="_blank" href="http://www.justice.gouv.fr/" style="color: inherit;text-decoration: none;">Site officiel du ministère de la Justice</a></li>
						<li><a target="_blank" href="http://www.justice.gouv.fr/recherche.html?recherche_motscles=protection+judiciaire+de+la+jeunesse&recherche_facet_metatags.theme=Justice+des+mineurs" style="color: inherit;text-decoration: none;">Justice des mineurs</a></li>
					</ul>
				</div>

				<h3 class="mb-20">D'autres organismes</h3>
				<div class="">
					<ul class="unordered-list">
						<li><a target="_blank" href="http://www.afpssu.com/" style="color: inherit;text-decoration: none;">Association Française de Promotion de la Santé Scolaire et Universitaire</a></li>
						<li><a target="_blank" href="http://www.cofrade.org/" style="color: inherit;text-decoration: none;">COFRADE (Conseil Français des Droits des Enfants)</a></li>
						<li><a target="_blank" href="http://www.mediation-familiale.org/" style="color: inherit;text-decoration: none;">Fédération nationale de la médiation familiale</a></li>
						<li><a target="_blank" href="http://www.fondation-enfance.org/" style="color: inherit;text-decoration: none;">La Fondation pour l'Enfance</a></li>
					</ul>
				</div>

				<h3 class="mb-20">Conseil de l'Europe</h3>
				<div class="">
					<ul class="unordered-list">
						<li><a target="_blank" href="http://www.coe.int/t/dg3/children/default_FR.asp?" style="color: inherit;text-decoration: none;">Conseil de l'Europe - Droits de l'Enfant - Enfant et violence</a></li>
						<li><a target="_blank" href="http://www.onnetouchepasici.org/default_fr.asp" style="color: inherit;text-decoration: none;">Conseil de l'Europe - La Règle «On ne touche pas ici»</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- End Sample Area -->
{% endblock %}